.txt2chkl .hidden {
    display: none;
}

.txt2chkl .editor {
    margin-bottom: 10px;
    width: 100%;
    max-height: 300px;
    resize: vertical;
}

.txt2chkl .checklist {
    margin-bottom: 10px;
}

.txt2chkl .description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.txt2chkl .description:first-child {
    margin-top: 0px;
    margin-bottom: 10px;
}

.txt2chkl .entry {
    margin-bottom: 5px;
    margin-left: 10px;
}

.txt2chkl label {
    display: block;
    padding-left: 15px;
    text-indent: -17px;
}

.txt2chkl ul{
    margin:0;
    padding:0;
    padding-left: 17px;
}

.txt2chkl input[type="checkbox"] {
    padding: 0;
    margin:0;

    width: 13px;
    height: 13px;

    vertical-align: bottom;
    position: relative;
    top: -1px;
}

.txt2chkl .actions > * {
    margin-right: 5px;
}

.txt2chkl .link {
    color: #39c;
    cursor: pointer;
    text-transform: capitalize;
}
